
:root {
    --accent-color:#2196F3;
    --primary-text-color: #212121;
    --header-background-color: #FFFFFF;
    --footer-background: #2F303A;
    --second-text-color: #757575;
    --typical-margin: 30px;
    --icons-color: #AFB1B8;
}


body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: #FFFFFF;
}



p, 
h1,
h2,  
h3, 
h4, 
h5, 
h6 {
    margin:0;
}

ul, ol {
    padding-left: 0;
    margin: 0;
}

button {
    cursor:pointer;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.link {
    text-decoration: none;
}



/* -----------хедер----------- */


.header-link.current {
    color: var(--accent-color)
}
.header {
    border-bottom: 1px solid #ececec;
    background-color: var(--header-background-color);
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.header-logo {
    text-decoration: none;
}
.header-link {
    text-decoration: none;
}
.header-link-contact{
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* --------- ----------------Хедер---------------------- */


.header .container {
    display: flex;
    align-items: center;
}


.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.header-logo-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--primary-text-color);
}

.header-navigation {
    margin-left: 93px;
}


.header-link {
    display: block;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}


.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}
.header-list {
    display:flex;
    align-items: center;
}

.header-link {
    padding-top: 32px;
    padding-bottom: 32px;
}



/* ---------контакти---------- */


.header-link-contact {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.header-list-contact {
    display: flex;
    margin-left: auto;
}
.header-link-contact {
    display: flex;
    align-items: center;
    text-align: center;
}


.header-item-contact:not(:last-child) {
    margin-right: 50px;
}
.icon-mail {
    display: inline-block;
    margin-right: 10px;
    fill: currentColor;
}

.icon-phone {
    display: inline-block;
    fill: currentColor;
    margin-right: 10px;
}

.header-link-contact:hover,
.header-link-contact:focus {
    color: var(--accent-color);
}

/* --------------------Мейн контент СТУДИЯ---------------------- */

/* ------------Герой сайту --------------- */

.hero-studio {
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)),
    url(../images/bg.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
}


.hero-title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-transform: uppercase;
}




.hero-btn {
    border: none;
    cursor: pointer;
    text-align: center; 
    padding: 10px 32px;
    min-width: 200px;
    
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}


/* ------------Особенности компании------------ */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


.benefits-list {
    display: flex;
}

/* .benefits-item {
    display: block;
} */

.benefits-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
    border-radius: 4px;
    width: 270px;
    height: 120px;
}


.benefits-item:not(:last-child) {
    margin-right: 30px;
}

.benefits-title-main {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowarp;
    clip-path: insert(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-title {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);

}


.benefits-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

/* ----------Чем ми занимаемся--------- */


.activity-title {
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    
}

.activity-list {
    display: flex;
    margin-top: 50px;
}



.activity-item:not(:last-child) {
    margin-right: 30px;
}



/* --------Наша команда--------- */


.team {
    background: #F5F4FA;
}

.team-title {
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.team-list {
    display: flex;
    margin-top: 50px;
}

.team-item {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.team-item:not(:last-child) {
    margin-right: 30px;
}

.team-card {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-title-second {
    text-align: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}


.team-text {
    text-align: center;

    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

.social-links {
    width: 44px;
    height: 44px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--icons-color);
}

.social-list {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.social-item + .social-item {
    margin-left: 10px;
}

.social-links:hover,
.social-links:focus {
    background-color: var(--accent-color);
    fill: #FFFFFF;
}

/* -----------Постоянные клиенты------- */

.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    justify-content: center;
}

.clients-item + .clients-item {
    margin-left: 30px;
}

.clients-link {
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    fill: var(--icons-color);
}

.clients-link:hover,
.clients-link:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}


/* -----------ПОРТФОЛИО------------ */


/* ---------мейн контент порфоліо -----------*/


.visualy-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowarp;
    clip-path: insert(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.portfolio-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-btn {
    cursor: pointer;
    padding: 6px 22px;

    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: #F5F4FA;
    border-radius: 4px;
}

.portfolio-btn {
    border :none;
}
.portfolio-item:not(:last-child) {
    margin-right: 8px;
}


.portfolio-btn:hover, .portfolio-btn:focus {
    background: var(--accent-color);
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.galery-link {
    display: block;
}

.galery-link:hover,
.galery-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.galery-title {
    margin-bottom: 4px;
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.galery-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

.cards {
    box-sizing: border-box;
    padding: 20px 24px;

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-top: none;
}


.portfolio-galery-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.galery-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
}




/* -------------------------Футер----------------------- */

.footer {
    background-color: var(--footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer .container {
    display: flex;
    align-items: baseline;
}

.footer-flex {
    margin-right: 70px;
}

.footer-logo {
    text-decoration: none;
}

.footer-contact {
    text-decoration: none;
}

.footer-logo {
    margin-bottom: 20px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);  
}

.footer-logo-studio {
    color: #FFF;
}

.footer-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-address {
    margin-top: 20px;
}


.footer-contact {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-list {
    margin: 0;
    padding: 0;
}

.footer-contact:hover, 
.footer-contact:focus {
    color: #FFFFFF ;
}
.footer-item {
    margin-top: 9px;
}

.acept-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.acept {
    display: block;
}

.acept-list {
    display: flex;
    padding: 0;
}

.acept-item + .acept-item {
    margin-left: 10px;
}

.acept-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: #FFFFFF;
}

.acept-link:hover,
.acept-link:focus {
    background-color: var(--accent-color);
}